<div class="nav">
  <button
    *ngFor="let tab of tabs"
    (click)="setTab(tab.num)"
    [ngClass]="{ active: activeTab === tab.num }"
  >
    {{ tab.name }}
  </button>
</div>

<div class="tabcontent" *ngIf="activeTab === 1">
  <app-user-list [role]="tutor"></app-user-list>
</div>
<div class="tabcontent" *ngIf="activeTab === 2">
  <div class="form">
    <h3>Add new tutor</h3>
    <p>
      Name
      <input type="text" [(ngModel)]="addName" id="name" name="name" required />
    </p>
    <p>
      Surname
      <input
        type="text"
        [(ngModel)]="addSurname"
        id="surname"
        name="surname"
        required
      />
    </p>
    <p>
      Email
      <input
        type="email"
        [(ngModel)]="addEmail"
        id="email"
        name="email"
        required
      />
    </p>
    <button class="btn_in" (click)="addNewUser(tutor)">Add</button>
  </div>
</div>
<div class="tabcontent" *ngIf="activeTab === 3">
  <app-user-list [role]="student"></app-user-list>
</div>
<div class="tabcontent" *ngIf="activeTab === 4">
  <div class="form">
    <h3>Add new student</h3>
    <p>
      Name
      <input type="text" [(ngModel)]="addName" id="name" name="name" required />
    </p>
    <p>
      Surname
      <input
        type="text"
        [(ngModel)]="addSurname"
        id="surname"
        name="surname"
        required
      />
    </p>
    <p>
      Email
      <input
        type="email"
        [(ngModel)]="addEmail"
        id="email"
        name="email"
        required
      />
    </p>
    <input
      list="groups"
      id="group-choice"
      name="group-choice"
      placeholder="Choose a group"
      [(ngModel)]="addGroupId"
    />
    <datalist id="groups">
      <option *ngFor="let group of groups" [value]="group.id">
        {{ group.name }}
      </option>
    </datalist>

    <button class="btn_in" (click)="addNewUser(student)">Add</button>
  </div>
</div>
<div class="tabcontent" *ngIf="activeTab === 5">
  <div class="groups" *ngFor="let group of groups">
    <div class="card">
      <div class="name">
        <p>{{ group.name | titlecase }}</p>
      </div>
      <div class="details">
        <button class="delete" (click)="deleteGroup(group)">Delete</button>
      </div>
    </div>
  </div>
  <div class="form">
    <h3>Add new group</h3>
    <p>
      Enter group name
      <input
        type="text"
        [(ngModel)]="groupName"
        id="name"
        name="name"
        required
      />
    </p>
    <button class="btn_in" (click)="addNewGroup()">Add</button>
  </div>
</div>
<div class="tabcontent" *ngIf="activeTab === 6">
  <div class="rooms" *ngFor="let room of rooms">
    <div class="card">
      <div class="name">
        <p>{{ room.name | titlecase }} ({{ room.capacity }})</p>
      </div>
      <div class="details">
        <button class="delete" (click)="deleteRoom(room)">Delete</button>
      </div>
    </div>
  </div>
  <div class="form">
    <h3>Add new room</h3>
    <p>
      Enter room name
      <input
        type="text"
        [(ngModel)]="roomName"
        id="name"
        name="name"
        required
      />
    </p>
    <p>
      Enter capacity of room
      <input
        type="number"
        [(ngModel)]="roomCap"
        id="name"
        name="name"
        required
      />
    </p>
    <button class="btn_in" (click)="addNewRoom()">Add</button>
  </div>
</div>
<div class="tabcontent" *ngIf="activeTab === 7">
  <div class="events" *ngFor="let event of events">
    <div class="card">
      <div class="name">
        <p>
          {{ event.discipline | titlecase }} {{ event.event_start_time }}:00 -
          {{ event.event_start_time + 1 }}:00, {{ days[event.day].name }},
          {{ event.tutor.name }} {{ event.tutor.surname }}
        </p>
      </div>
      <div class="details">
        <button class="delete" (click)="deleteEvent(event)">Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="tabcontent" *ngIf="activeTab === 8">
  <div class="form">
    <h3>Add new event</h3>
    <p>
      Enter start time
      <input
        type="number"
        [(ngModel)]="addTime"
        id="time"
        name="time"
        maxlength="2"
        min="8"
        max="20"
        step="1"
        required
      />
    </p>
    <p>
      Enter day
      <input
        list="days"
        data-list="days"
        type="text"
        [(ngModel)]="addDay"
        id="day"
        name="day"
        required
      />

      <datalist id="days">
        <option *ngFor="let day of days" value="{{ day.name }} "></option>
      </datalist>
    </p>
    <p>
      Enter name of discipline
      <input
        id="discipline"
        name="discipline"
        [(ngModel)]="disciplineName"
        required
      />
    </p>
    <input
      list="tutors"
      data-list="tutors"
      id="tutor-choice"
      name="tutor-choice"
      placeholder="Choose a tutor"
      [(ngModel)]="addTutorId"
    />
    <datalist id="tutors">
      <option *ngFor="let tutor of tutors" [value]="tutor.id">
        {{ tutor.name }} {{ tutor.surname }}
      </option>
    </datalist>
    <input
      list="groups"
      id="group-choice"
      name="group-choice"
      placeholder="Choose a group"
      [(ngModel)]="addGroupId"
    />
    <datalist id="groups">
      <option *ngFor="let group of groups" [value]="group.id">
        {{ group.name }}
      </option>
    </datalist>
    <input
      list="rooms"
      id="room-choice"
      name="room-choice"
      placeholder="Choose a room"
      [(ngModel)]="addRoomId"
    />
    <datalist id="rooms">
      <option *ngFor="let room of rooms" [value]="room.id">
        {{ room.name }}
      </option>
    </datalist>
    <button class="btn_in" (click)="addNewEvent()">Add</button>
  </div>
</div>
