<div class="nav">
  <button
    *ngFor="let tab of tabs"
    (click)="setTab(tab.num)"
    [ngClass]="{ active: activeTab === tab.num }"
  >
    {{ tab.name }}
  </button>
</div>

<div *ngIf="activeTab === 1" class="container" style="margin-left: 150px">
  <app-schedule></app-schedule>
</div>
<div class="tabcontent" *ngIf="activeTab === 2" style="margin-left: 150px">
  <div *ngFor="let event of tutorEvents">
    <div class="card">
      <div class="name">
        <p>
          {{ event.discipline | titlecase }} {{ event.event_start_time }}:00 -
          {{ event.event_start_time + 1 }}:00, {{ days[event.day].name }}
        </p>
      </div>
      <div class="details">
        <button
          [ngClass]="{
            hide: event.status,
            show: !event.status
          }"
          (click)="changeStatus(event)"
        >
          {{ event.status ? "Cancel" : "Activate" }} this lesson
        </button>
      </div>
    </div>
  </div>
</div>
