<div class="nav">
  <button
    *ngFor="let tab of tabs"
    (click)="setTab(tab.num)"
    [ngClass]="{ active: activeTab === tab.num }"
  >
    {{ tab.name }}
  </button>
</div>

<div *ngIf="activeTab === 1" class="container" style="margin-left: 150px">
  <app-schedule></app-schedule>
</div>
<div
  class="container"
  *ngIf="activeTab === 2"
  style="margin-left: 150px; margin-top: 1000px"
>
  uhbvnoooooooofdk
  <div *ngFor="let event of tutorEvents">
    <div>
      <h1>DARINA</h1>
      <div class="name">
        <p>
          {{ event.discipline | titlecase }} {{ event.event_start_time }}:00 -
          {{ event.event_start_time + 1 }}:00, {{ days[event.day].name }},
          {{ event.tutor.name }} {{ event.tutor.surname }}
        </p>
      </div>
      <div class="details">
        <!-- <button class="delete" (click)="changeStatus(event)">Delete</button> -->
      </div>
    </div>
  </div>
</div>
