h3 {
  padding: 15px;
  font-variant: inherit;
  font-size: 1.5rem;
  text-align: center;
  padding: 30px 50px;
  margin: 80px;
}
.content {
  margin: 50px auto;
  margin-left: 250px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  /* width: 600px; */
}
.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
p {
  text-align: center;
  font-size: 1.5rem;
}
/* .name {
  font-size: 24px;
  font-weight: bold;
} */
