.navigation {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.btn_out {
  width: 50%;
  padding: 3px 5px;
  margin-top: 15px;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
  align-self: center;
  margin: 20px 0;
}
.login button:hover {
  background: #83f0e1;
}
.nav {
  padding: 0 50px;
  height: 80px;
  background: rgb(63, 251, 227);
  background: linear-gradient(
    202deg,
    rgba(63, 251, 227, 0.9697128851540616) 0%,
    rgba(225, 70, 252, 0.8128501400560224) 91%
  );
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.menu {
  color: #fff;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo {
  color: #fff;
  font-size: 40px;
  text-decoration: none;
}
.link {
  color: #fff;
  padding-left: 5px;
  font-size: 20px;
  text-decoration: none;
  margin-left: 20px;
}
