<div class="shed">
  <h3>Your schedule</h3>
  <table>
    <tr>
      <th>hour / day</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
    <tr *ngFor="let item of shed">
      <th>{{ item.time }}:00 - {{ item.time + 1 }}:00</th>
      <td
        *ngFor="let event of item.events"
        [ngClass]="{
          canceled: event.status === false && event.discipline !== '',
          active: event.status && event.discipline !== ''
        }"
      >
        <p *ngIf="event.event_start_time">
          {{ event.discipline | titlecase }}, {{ event.tutor.name }}
          {{ event.tutor.surname }}, ({{ event.room.name }})
        </p>
      </td>
    </tr>
  </table>
</div>
