<div class="shed">
  <h3>Your schedule</h3>
  <table>
    <tr>
      <th>hour / day</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
    <tr *ngFor="let item of shed">
      <th>{{ item.time }}:00 - {{ item.time + 1 }}:00</th>
      <td *ngFor="let event of item.events">
        <p *ngIf="event.event_start_time">
          {{ event.discipline }}, {{ event.tutor }}, {{ event.room }}
        </p>
      </td>
    </tr>
  </table>
</div>
