.card {
  display: flex;
  padding: 20px 30px;
  margin: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  width: 600px;
}
.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: center; 
}
.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.students {
  display: flex;
  flex-direction: column;
}
.show {
  background-color: #7ed885;
}
.groups {
  margin: 80px auto;
  margin-left: 250px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.name {
  font-size: 24px;
  font-weight: bold;
}
.studentName {
  font-size: 18px;
  font-weight: medium;
  margin: 3px 0;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
button {
  background-color: #4f9d55;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
button:hover {
  background-color: #3a613e;
}
.delete {
  background-color: #b93939;
}
.delete:hover {
  background-color: #5c2121;
}
